
import abc

#for state in $states
from SM_$state import SM_$state
#end for

class SM:
    __metaclass__ = abc.ABCMeta

    def start(self):
        raise NotImplementedError()

    def onentry(self):
        raise NotImplementedError()

    def transition(self, event):
        raise NotImplementedError()

#{from itertools import izip}

a = {
#for attribut in $states[:-1]
"$attribut" : SM_$attribut,
 #end for
 "$state[-1]" : SM_$states[-1]
}


if __name__ == "__main__":
    #for state in $states
    SM.register(SM_$state)
    #end for