/*
*
*  state_${state.nom}
*  author @cesarColle
*
*/




class SM_State_${state.id} : SM_state {

    ~SM_State_${state["nom"]} ()
};



void SM_State_${state.id}::onentry(){
    $for actions in state["transition"]["onentry"]
    ${state["transition"]["onentry"]}();
}