#
#
#  state_$nom
#  author @cesarColle
#
#
from threading import Thread
from event import *
$dependancies

# sendQueue for manage sending event
## from sharedStruture import sendQueue

#if len($parent) > 0
# from sharedStruture import RaiseQueue_$parent[0]
#end if

class SM_$nom:
    def __init__(self):
        pass

    def start(self):
        self.onentry()

    def onentry(self):
        pass
        # execute code here

        # catch event from different sources




    def transition(self, event):
        pass
        $transition
